# Xcode files that we don't want to track
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3          
*.mode2v3
!default.mode2v3          
*.perspectivev3           
!default.perspectivev3    
*.xcworkspace             
!default.xcworkspace
xcuserdata
profile                   
*.moved-aside
DerivedData
.idea/
ToMo.xcodeproj/project.xcworkspace/xcshareddata/
ToMo.xcworkspace/xcshareddata/
!ToMo.xcodeproj/project.pbxproj
*.xccheckout

# Pods Config
Pods
Podfile.lock

# Untracked Folders, files to be kept locally, etc...
